
@{
    ViewData["Inicio"] = "Admin page";
}
<!DOCTYPE html>
    <html>
    <head>
        <link href="~/css/InicioAdmin.css" rel="stylesheet" />
        <title></title>
    </head>
    <body>
    
    </body>
    </html>